        body {
            margin: 0px;
            font-family: Tahoma;
        }
        
        #banner {
            background-color: tomato;
            color: white;
            padding: 10px;
        }
        
        #content {
            margin: 0px;
            background-color: seashell;
            height: 500px;
            overflow: auto;
        }
        
        #stopka1,
        #stopka2,
        #stopka3,
        #stopka4 {
            background-color: tomato;
            color: white;
            width: 25%;
            height: 160px;
            float: left;
        }
        
        .opinia {
            background-color: white;
            color: dimgray;
            width: 60%;
            height: 220px;
            margin: 40px auto;
            box-shadow: 5px 5px 10px dimgray;
        }
        
        img {
            float: left;
            margin: 10px;
            border-radius: 10px;
        }
        
        blockquote {
            padding: 10px;
            font-size: 150%;
            font-style: italic;
        }
        
        h1,
        h2 {
            margin: 0px;
            text-align: center;
        }
        
        h4 {
            text-align: right;
            margin-right: 40px;
            font-size: 150%;
            font-style: italic;
        }
        
        a {
            color: white;
        }